h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: #3a3a3a;
  background-color: #eeeeee;
  font-weight: 800;
}
.page {
  padding: 20px 0px;
}
.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}
.page__title {
  font-weight: 900;
  font-size: 50px;
  margin: 0px 0px 20px 0px;
}

.page__items {
  cursor: pointer;
}
.item__input {
  display: none;
}
.item__title {
  cursor: pointer;
  padding: 10px 0px;
  border-top: 1px solid rgb(217, 217, 217);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__title p {
  color: rgb(0, 0, 255);
  transition: all 0.2s ease 0s;
}
.item__btn {
  padding: 0px 10px;
  font-size: 40px;
  font-weight: 900;
  opacity: 0;
  line-height: 1;
  transition: all 0.3s ease 0s;
}
.item__img {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  height: 0;
  transition: all 0.3s ease-in-out 0s;
}
img {
  transition: all 0.3s ease-in-out 0s;
  transform: scale(0);
}
.item__input:checked + .item__title p {
  color: #3a3a3a;
}
.item__input:checked + .item__title .item__btn {
  transform: rotate(45deg);
}
.item__input:checked ~ .item__img img {
  transform: scale(1);
}
.item__input:checked ~ .item__img {
  height: 500px;
  margin: 0px 0px 20px 0px;
}

.page__items:hover .item__title p {
  color: #3a3a3a;
}
.page__items:hover .item__btn {
  opacity: 1;
}
.page__item:hover .item__img img {
  transform: scale(1);
}
.page__item:hover .item__img {
  height: 500px;
  margin: 0px 0px 20px 0px;
}

.page__item:active {
  opacity: 0.8;
}
.page__item:active .item__title p {
  color: blue;
}
.page__item:active .item__title .item__btn {
  color: blue;
}
