h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: #0e0e0e;
  background-color: #eeeeee;
  font-weight: 700;
}
.page {
  padding: 20px 0px;
}
.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}
.page__title {
  font-weight: 900;
  font-size: 50px;
  margin: 0px 0px 20px 0px;
}
.page__items {
  cursor: pointer;
}
.page__item {
}
.item {
}
.item__label {
}
.item__input {
  display: none;
}

.item__title {
  cursor: pointer;
  padding: 10px 0px;
  border-top: 1px solid rgb(217, 217, 217);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item__title p {
  color: rgb(0, 0, 255);
  transition: all 0.2s ease 0s;
}
.item__btn {
  margin: 0px 20px 0px 0px;
  padding: 0px 10px;
  font-size: 40px;
  font-weight: 900;
  opacity: 0;
  line-height: 1;
}
.item__img {
  display: none;
  text-align: center;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
}

.item__input:checked + .item__title {
  color: #0e0e0e;
}
.item__input:checked + .item__title .item__btn {
  transform: rotate(45deg);
}
.item__input:checked ~ .item__img {
  display: block;
}

.page__items:hover .item__title p {
  color: #0e0e0e;
}
.page__items:hover .item__btn {
  opacity: 1;
}
.page__item:hover .item__img {
  display: block;
}
